EXPO_PUBLIC_FIREBASE_API_KEY=AIzaSyBWaCwJjyongwy4nu1tYj3pWD6q9N8CJ9s
EXPO_PUBLIC_FIREBASE_AUTH_DOMAIN=taskhub-7048b.firebaseapp.com
EXPO_PUBLIC_FIREBASE_PROJECT_ID=taskhub-7048b
EXPO_PUBLIC_FIREBASE_STORAGE_BUCKET=taskhub-7048b.firebasestorage.app
EXPO_PUBLIC_FIREBASE_MESSAGING_SENDER_ID=659023753010
EXPO_PUBLIC_FIREBASE_APP_ID=1:659023753010:web:6271ee175820447450b12b
EXPO_PUBLIC_FIREBASE_MEASUREMENT_ID=G-Z79XD92TVW
